In [2]:
import pandas as pd
import numpy as np

In [14]:
import os
csv_list = []
for root, dirs,files in os.walk(r"C:\Users\Dell Pc\Downloads\grading3\house-office-expenditures-with-readme\house-office-expenditures-with-readme\detail", topdown=True):
    for name in files:
        csv_list.append(os.path.join(root, name))

In [15]:
len(csv_list)

35

In [3]:
import pandas as pd
import glob
interesting_files = glob.glob(r"C:\Users\Dell Pc\Downloads\grading3\house-office-expenditures-with-readme\house-office-expenditures-with-readme\detail\*.csv")
df_list = []
for filename in sorted(interesting_files):
    df_list.append(pd.read_csv(filename,low_memory=False,encoding='unicode_escape'))
full_df = pd.concat(df_list)

In [4]:
full_df.head()

,AMOUNT,BIOGUIDE_ID,CATEGORY,DATE,END DATE,OFFICE,PAYEE,PROGRAM,PURPOSE,QUARTER,RECIP (orig.),RECORDID,SORT SEQUENCE,START DATE,TRANSCODE,TRANSCODELONG,YEAR
0,"16,799.25",NaN,OTHER SERVICES,NaN,10/04/06,COMMUNICATIONS,07ÃÂ­01 P2 OPR0900726A S...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,07ÃÂ­01 P2 OPR0900726A S...,NaN,NaN,10/04/06,NaN,NaN,FISCAL YEAR 2009
1,"3,876.75",NaN,OTHER SERVICES,NaN,10/04/06,COMMUNICATIONS,07ÃÂ­22 P2 OPR0900726B ...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,07ÃÂ­22 P2 OPR0900726B ...,NaN,NaN,10/04/06,NaN,NaN,FISCAL YEAR 2009
2,"2,132.00",NaN,OTHER SERVICES,NaN,07/18/06,COMMUNICATIONS,08ÃÂ­06 P2 FSS0000575A T...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,08ÃÂ­06 P2 FSS0000575A T...,NaN,NaN,07/18/06,NaN,NaN,FISCAL YEAR 2009
3,888.00,NaN,OTHER SERVICES,NaN,05/29/09,COMMUNICATIONS,08ÃÂ­25 P2 MFP0003163 A...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,08ÃÂ­25 P2 MFP0003163 A...,NaN,NaN,05/29/09,NaN,NaN,FISCAL YEAR 2009
4,590.18,NaN,OTHER SERVICES,NaN,10/04/06,COMMUNICATIONS,09ÃÂ­10 P2 OPR0900726C S...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2009Q3,09ÃÂ­10 P2 OPR0900726C S...,NaN,NaN,10/04/06,NaN,NaN,FISCAL YEAR 2009

In [53]:
full_df.AMOUNT=full_df.AMOUNT.convert_objects(convert_numeric=True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

What is the total of all the payments in the dataset?

In [54]:
full_df.AMOUNT.sum()

4608691726.389622

In [60]:
full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3542048 entries, 0 to 77046
Data columns (total 17 columns):
AMOUNT           float64
BIOGUIDE_ID      object
CATEGORY         object
DATE             object
END DATE         object
OFFICE           object
PAYEE            object
PROGRAM          object
PURPOSE          object
QUARTER          object
RECIP (orig.)    object
RECORDID         object
SORT SEQUENCE    object
START DATE       object
TRANSCODE        object
TRANSCODELONG    object
YEAR             object
dtypes: float64(1), object(16)
memory usage: 566.4+ MB

In [73]:
df = pd.read_csv(r'C:\Users\Dell Pc\Downloads\grading3\house-office-expenditures-with-readme\house-office-expenditures-with-readme\detail\2009Q3-house-disburse-detail.csv')

In [74]:
df.shape

(123344, 15)

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123344 entries, 0 to 123343
Data columns (total 15 columns):
BIOGUIDE_ID      93489 non-null object
OFFICE           123344 non-null object
QUARTER          123344 non-null object
CATEGORY         123344 non-null object
DATE             0 non-null float64
PAYEE            123344 non-null object
START DATE       123344 non-null object
END DATE         123344 non-null object
PURPOSE          123344 non-null object
AMOUNT           123344 non-null object
YEAR             123344 non-null object
TRANSCODE        0 non-null float64
TRANSCODELONG    0 non-null float64
RECORDID         0 non-null float64
RECIP (orig.)    123344 non-null object
dtypes: float64(4), object(11)
memory usage: 14.1+ MB

In [76]:
df['START DATE'] = pd.to_datetime(df['START DATE'])

In [72]:
%timeit pd.to_datetime(df['START DATE'])

176 µs ± 3.28 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [3]:
import pandas as pd
import glob
new2010_2016_files = glob.glob(r"C:\Users\Dell Pc\Downloads\grading3\house-office-expenditures-with-readme\house-office-expenditures-with-readme\new_2010_2016\*.csv")
df_list = []
for filename in sorted(new2010_2016_files):
    df_list.append(pd.read_csv(filename,low_memory=False,encoding='unicode_escape'))
df_2010_2016 = pd.concat(df_list)

In [4]:
df_2010_2016.head()

,AMOUNT,BIOGUIDE_ID,CATEGORY,DATE,END DATE,OFFICE,PAYEE,PROGRAM,PURPOSE,QUARTER,RECIP (orig.),RECORDID,START DATE,TRANSCODE,TRANSCODELONG,YEAR
0,455.00,NaN,OTHER SERVICES,NaN,03/02/10,COMMUNICATIONS,03Â­10 P2 MFP0003226 ...,NaN,NON-TECHNOLOGY SERVICE CONTRCT,2010Q1,03Â­10 P2 MFP0003226 ...,NaN,03/02/10,NaN,NaN,FISCAL YEAR 2010
1,47.26,NaN,SUPPLIES AND MATERIALS,NaN,11/28/09,COMMUNICATIONS,02Â­05 P2 MFP0003219 ALLSTEEL,NaN,HABITATION EXPENSES,2010Q1,02Â­05 P2 MFP0003219 ALLSTEEL,NaN,11/28/09,NaN,NaN,FISCAL YEAR 2010
2,250.00,NaN,SUPPLIES AND MATERIALS,NaN,12/21/09,COMMUNICATIONS,03Â­05 P2 OSM42304 CDW GOVERN...,NaN,OFFICE SUPPLIES OUTSIDE,2010Q1,03Â­05 P2 OSM42304 CDW GOVERN...,NaN,12/21/09,NaN,NaN,FISCAL YEAR 2010
3,436.00,NaN,SUPPLIES AND MATERIALS,NaN,12/21/09,COMMUNICATIONS,03Â­05 P2 OSM42304 DO,NaN,OFFICE SUPPLIES OUTSIDE,2010Q1,03Â­05 P2 OSM42304 DO,NaN,12/21/09,NaN,NaN,FISCAL YEAR 2010
4,37.90,NaN,SUPPLIES AND MATERIALS,NaN,12/21/09,COMMUNICATIONS,03Â­05 P2 OSM42304 DO,NaN,OFFICE SUPPLIES OUTSIDE,2010Q1,03Â­05 P2 OSM42304 DO,NaN,12/21/09,NaN,NaN,FISCAL YEAR 2010

In [5]:
df_2010_2016.AMOUNT=df_2010_2016.AMOUNT.convert_objects(convert_numeric=True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [8]:
df_2010_2016[df_2010_2016.AMOUNT>0]['AMOUNT'].sum()/7

110326284.85719837

In [9]:
new2016_files = glob.glob(r"C:\Users\Dell Pc\Downloads\grading3\house-office-expenditures-with-readme\house-office-expenditures-with-readme\new_2010_2016\2016\*.csv")
df_list = []
for filename in sorted(new2016_files):
    df_list.append(pd.read_csv(filename,low_memory=False,encoding='unicode_escape'))
df_2016 = pd.concat(df_list)

In [10]:
df_2016.head()

,AMOUNT,BIOGUIDE_ID,CATEGORY,DATE,END DATE,OFFICE,PAYEE,PROGRAM,PURPOSE,QUARTER,RECIP (orig.),RECORDID,START DATE,TRANSCODE,TRANSCODELONG,YEAR
0,380.00,NaN,SUPPLIES AND MATERIALS,03-18,02/28/16,OFFICE OF THE SPEAKER,CITI PCARD-GALLERIA FLORIST,NaN,HABITATION EXPENSE,2016Q1,CITI PCARD-GALLERIA FLORIST,00849255,01/29/16,AP,Accounts payable,2016
1,"6,666.67",NaN,PERSONNEL COMPENSATION,NaN,03/31/16,OFFICE OF THE SPEAKER,"ALTHOUSE,JOSHUA S",NaN,CONSERV COALITION OUTREACH COR,2016Q1,"ALTHOUSE,JOSHUA S",NaN,02/01/16,NaN,NaN,2016
2,"25,666.67",NaN,PERSONNEL COMPENSATION,NaN,03/31/16,OFFICE OF THE SPEAKER,"ANDRES,DOUGLAS R",NaN,PRESS SECRETARY,2016Q1,"ANDRES,DOUGLAS R",NaN,01/03/16,NaN,NaN,2016
3,"18,333.33",NaN,PERSONNEL COMPENSATION,NaN,03/31/16,OFFICE OF THE SPEAKER,"ANDREWS,THOMAS S",NaN,MEMBER SERVICES COORDINATOR,2016Q1,"ANDREWS,THOMAS S",NaN,01/03/16,NaN,NaN,2016
4,"26,250.00",NaN,PERSONNEL COMPENSATION,NaN,03/31/16,OFFICE OF THE SPEAKER,"ANTELL,GEOFFREY",NaN,ASST TO THE SPEAKER FOR POLICY,2016Q1,"ANTELL,GEOFFREY",NaN,01/28/16,NaN,NaN,2016

In [11]:
df_2016.AMOUNT=df_2016.AMOUNT.convert_objects(convert_numeric=True)

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [13]:
max(df_2016.groupby('PAYEE')['AMOUNT'].mean())

579500.0